.background {
    -fx-background-color: white;
}

.button{
    -fx-border-color:darkgrey;
    -fx-background-color:none;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-cursor:hand;
    -fx-background-color: linear-gradient( #ffffff, #808080);

}
.button:hover{
    -fx-background-color:seashell ;
    -fx-background-color: linear-gradient( #ffffff, #778899);


}
.text-field{
    -fx-border-color:darkgrey;
    -fx-background-color:none;
    -fx-max-height:10;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";

}
.text-area{
    -fx-border-color:darkgrey;
    -fx-background-color:none;
    -fx-max-height:100;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
}
.menu-bar{
    -fx-border-color:darkgrey;
    -fx-background-color:none;
}
.combo-box{
    -fx-border-color:darkgrey;
    -fx-background-color:none;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
}
.radio-button{
    -fx-text-fill: black;
    -fx-border-color: none;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
}
.check-box{
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";

}
.tab-pane{
    -fx-border-color:darkgrey;
    -fx-background-color:white;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";

}
.tab{
    -fx-border-color:darkgrey;
    -fx-background-color:transparent;
    -fx-background-color: linear-gradient( #ffffff,  #dcdcdc);


}

.tab:hover{

    -fx-background-color: linear-gradient( #ffffff, #778899);


}
.date-piker{
    -fx-border-color:darkgrey;
    -fx-background-color:white;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";

}
.label-header{
    -fx-font-size: 30pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label{
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-alert{
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-text-fill: red;
    -fx-opacity: 1;
}

.border-pane{
    -fx-background-color:white;
}
.anchor-pane{
    -fx-background-color:white;
}
.table-view{

    -fx-border-color:darkgrey;
    -fx-background-color:white;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";

}
.table-column{
    -fx-border-color:darkgrey;
    -fx-background-color:white;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
}
.button-search{
    -fx-border-color:#6495ed;
    -fx-background-color:#6495ed;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-cursor:hand;
    -fx-background-image: url('icon.png');
    -fx-background-size: 20 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center; 


}

